Flask
numpy
Pillow
opencv-python
scikit-learn
catboost
pandas
matplotlib
jinja2
requests
python-dotenv
jupyter
ipykernel
gunicorn
flask-cors
ipywidgets
nbconvert
pyyaml
tensorflow==2.20.0 
pandas
pytest
pytest-flask
pytest-c0v
numpy
scikit-learn
scipy
pytest-html
pytest-mock
