Flask
numpy
Pillow
opencv-python
scikit-learn
scipy
catboost
pandas
matplotlib
jinja2
requests
python-dotenv
jupyter
ipykernel
ipywidgets
gunicorn
flask-cors
nbconvert
pyyaml
tensorflow==2.20.0
pytest
pytest-flask
pytest-cov
pytest-html
pytest-mock